body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.home_container{
    background-color: black;
    padding: 0px 0px 0px 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    overflow: hidden;
}

.home_container .image {
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(0,0,0,1)), url('../public/Foto.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.home_container img{
    width: 100%;
    height: 100%;
}

.home_container .home_info{
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items:  start;
    justify-content: end;
    color: white;
}

.home_container .home_info a{
    text-decoration: none;
    color: white;
}

.header_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    align-items: center;
}

.header_container .header_right{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.header_container .header_left{
    padding: 0.5rem;
    display: flex;
    justify-content: right;
}

.header_container .header_left a{
    text-decoration: none;
    color:white;
    padding: 0.5rem 2rem;
}

.header_container .header_left a:hover{
    transform: scale(1.2);
}

footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

footer .enlaces{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid white;
    padding-top: 2rem;
}

footer a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divisor_1{
    background-color: white;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    width: 100%;
    height: 8rem;
    margin-top: -4rem;
    position: relative;
}

.aboutMe_container{
    height: 100%;
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.aboutMe_container img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.aboutMe_container .about_inf{
    padding: 0.5rem;
}

.aboutMe_container .about_inf h3{
    font-size: 24pt;
}

.skills_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.skills_container .lenguajes_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.skills_container .lenguajes_container .elem{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: opacity 0.6s ease;
    border-radius: 11px;
    padding: 1rem;
}

.skills_container .lenguajes_container:hover >:not(:hover){
    opacity: 0.4;
}

.elem img{
    width: 100px;
    height: 100px;
}

.elem #info, h3{
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .home_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .home_container .image {
        display: none;
    }
    .home_container .home_info{
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(0,0,0,1)), url('../public/Foto.JPG');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .aboutMe_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .skills_container .lenguajes_container{
        grid-template-columns: repeat(1, 1fr);
    }

    footer .enlaces{
        grid-template-columns: repeat(2, 1fr);
    }

    .header_container .header_left{
        display: none;
    }
 }
